/* styles.css */
 body { 
    /* set a gradient background from purple to teal */
    background-color: rgb(255, 255, 240);
    color:blanchedalmond
    margin:aquamarine
    padding:bisque
    justify:brown
    align:aqua
    height:black
 }